*{
    padding: 0;
    margin: 0;
}

#joc{
    margin: 20px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
}

#dino{
    height: 50px;
    width: 20px;
    background-color: cadetblue;
    position: relative;
    border-radius: 0 0 50% 50%;
    top: 150px;
}

.saltando{
    animation: saltar 250ms infinite;
}

@keyframes saltar{
    0%{top:150px;}
    33%{top:100px;}
    66%{top:100px;}
    100%{top:150px;}
}

#obstaculo{
    height: 20px;
    width: 20px;
    background-color: grey;
    position: relative;
    top: 130px;
    left: 480px;
    border-radius: 50% 50% 0 0;
    animation: obstaculo 0.5s infinite linear;
}

@keyframes obstaculo{
    0%{left:480px;}
    100%{left:-40px;}
}

#conatador{
    width: 80px;
    height: 40px;
    padding: 20px 20px 20px 20px;
    margin: 40px;
    background: cadetblue;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}